.searchHeading{
    margin-top: 20px;
    
}
#indexColor{
    padding: 5px;
}
#storedList{
    margin-top: 20px;
    width: 80%;
}

li{
    padding: 10px;
}

.list-group{
    margin: 30px;
}
.list-group-item{
    padding: 15px;
}
#city-date-icon{
    font-size: xx-large;
    font-weight: 600;
}
.card-body{
    background-color: #007bff ;
    color: white;
    border-radius: .5rem;
}